.nav {
  width: 20vw;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  position: fixed;
  top: 0;
  bottom: 0;
}

.activeLink {
  color: #2d3436;
  background-color: #e58e26;
  font-family: arial;
  text-decoration: none;
  margin: 20px auto;
}
.link {
  color: #2d3436;
  background-color: transparent;
  font-family: arial;
  text-decoration: none;
  margin: 20px auto;
}
